

.students{
     background-color: rgb(73, 82, 82);
     .student-table {
        background-color:rgb(112, 122, 122);
        margin-top: 10px;

      }
      .student-image img{
        border-radius: 50%;
        width: 400px;
        height: 200px;
        margin-top: 20px;}
        .studentinfo{
            margin-top: 20px;
            margin-bottom: 20px;
            .info{
                margin-right: 20px;
                font-size: 20px;
              }
            

        }
    
    
    }



  