
@mixin button-style($color) {
 
    color: $color;
    border-color: $color;
    background-color: $color;
    
    &:hover {
      color: $color;
      border-color:$color;
      background-color:$color;
    }
  }
  @mixin nav-style($color) {
 
    color: $color;
    background-color: $color;}


  